apiVersion: v1
kind: Service
metadata:
  name: todo-service
  labels:
    app: todo-app
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: todo-app

