apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  labels:
    environment: production
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: todo-app
          resources:
            requests:
              memory: "50Mi"
              cpu: "20m"
            limits:
              memory: "120Mi"

