apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  labels:
    environment: development
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: todo-app
          resources:
            requests:
              memory: "40Mi"
              cpu: "15m"
            limits:
              memory: "100Mi"
              cpu: "30m"
