apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
  labels:
    environment: development
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: todo-app
          resources:
            requests:
              memory: "84Mi"
              cpu: "35m"
            limits:
              memory: "161Mi"
              cpu: "105m"
